{% extends 'base.html' %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
        <form action="{{ url_for('register') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {% for field in form %}
          <div class="mb-3">
            {{ field.label(class_= "form-label", for= field.id) }}
            {% if request_method == "GET" or not(field.errors) %}
              {{ field(class_= "form-control") }}
            {% else %}
              {{ field(class_= "form-control is-invalid") }}
            {% endif %}
      
            {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}